@model LibraryMVCProject.Models.Entity.TblDuyuru
@{
    ViewBag.Title = "DuyuruDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>DuyuruDetay</h2>
@using (Html.BeginForm("DuyuruGuncelle", "Announcement", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>ID</label>
        @Html.TextBoxFor(d => d.ID, new { @class = "form-control" })
        <br />
        <label>Tarih</label>
        @Html.TextBoxFor(d => d.Tarih, new { @class = "form-control" })
        <br />
        @*@Html.LabelFor(k=>k.Ad)*@
        <label>Başlık</label>
        @Html.TextBoxFor(d => d.Kategori, new { @class = "form-control" })
        <br />
        <label>İçerik</label>
        @Html.TextAreaFor(d => d.Icerik, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <button class="btn btn-success">Güncelle</button>
    </div>
}

